*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }

  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00ABFC, #00CCCC);
  }

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }

  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid whitesmoke;
    outline: none;
    background-color: rgb(134, 224, 182, .75);
  }

  .calculator-grid > button:hover {
      background-color: rgba(188, 229, 210, 0.9);
  }

  .span-two {
    grid-column: span 2;
  }

  .output {
    grid-column: 1/-1;
    background-color: rgba(21, 26, 24, 0.90);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .output .previous-operand {
    color: rgba(215, 228, 225, 0.85);
    font-size: 1.5rem;
  }

  .output .current-operand {
    color: rgba(221, 231, 229, 0.952);
    font-size: 2.5rem;
  }